@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    .main-menu {
      position: relative;
      
        .logo-icon-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            height: 90px;
            padding-inline: 20px;

            background-color: $dark-blue;

            .logo-menu {
                a {
                    text-transform: uppercase;
                    font-weight: 700;

                    color: $navajo-white;
                }
            }
            .icon-menu {
                @include flex-center;
                height: 25px;
                width: 25px;

                cursor: pointer;

                .menu-hamburger {
                    position: relative;

                    height: 4px;
                    width: 25px;

                    background-color: $navajo-white;

                    &::after, &::before {
                        content: '';
                        position: absolute;

                        height: 4px;
                        width: 25px;

                        background-color: $navajo-white;
                    }
                    &::after {
                        top: -8px;
                    }
                    &::before {
                        bottom: -8px;
                    }
                }
            }
        }
        .menu-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: calc(100vh - 90px);
            transform: translateX(-100%);

            background-color: $dark-blue;

            transition: transform .4s;

            .list-container {
                ul {
                    li {
                        a {
                            display: block;
                            padding: 10px 20px;
    
                            color: $navajo-white;
                            background-color: $dark-blue;
    
                            &:hover {
                                background-color: $dark-blue-02;
                            }
                        }
                    }
                }
            }
        
            
            .list-icon-container {
                background-color: $dark-blue;
                ul {
                    display: flex;
                    align-items: center;
                    padding-inline: 15px;
                    gap: 10px;
                    flex-wrap: wrap;
    
                    li {
                        a {
                            @include flex-center;
                            padding: 20px 10px;
                            font-size: 1.2rem;
                            color: $navajo-white;
                        }
                    }
                }
            }
        }
        .menu-content-active {
            transform: translateX(0);
        }
    }
}