@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: "Montserrat Alternates", sans-serif;
}

header {

    // Desktop
    @include desktop {
        background-color: $dark-blue;
    }

    .main-menu {
      position: relative;

      // Desktop
      @include desktop {
        @include flex-center;
        justify-content: space-between;

        max-width: 1200px;
        margin-inline: auto;
      }
      
        .logo-icon-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            height: 90px;
            padding-inline: 20px;

            background-color: $dark-blue;

            .logo-menu {
                a {
                    text-transform: uppercase;
                    font-weight: 700;

                    color: $navajo-white;
                }
            }
            .icon-menu {
                @include flex-center;
                height: 25px;
                width: 25px;

                cursor: pointer;

                // Desktop
                @include desktop {
                    display: none;
                }

                .menu-hamburger {
                    position: relative;

                    height: 4px;
                    width: 25px;

                    background-color: $navajo-white;

                    transition: background-color .2s;

                    &.menu-hamburger-active {
                        background-color: transparent;

                        &::after {
                            transform: rotate(45deg);
                            top: 0;
                        }
                        &::before {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                    }
                    
                    &::after, &::before {
                        content: '';
                        position: absolute;

                        height: 4px;
                        width: 25px;

                        background-color: $navajo-white;

                        transition: .4s;
                    }
                    &::after {
                        top: -8px;
                    }
                    &::before {
                        bottom: -8px;
                    }
                }
            }
        }
        .menu-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: calc(100vh - 90px);
            transform: translateX(-100%);

            background-color: $dark-blue;

            transition: transform .4s;

            // Desktop
            @include desktop {
                transform: translateX(0);
                flex-direction: row;
                gap: 40px;

                height: initial;
            }

            &.menu-content-active {
                transform: translateX(0);

                .list-container {
                    li {
                        transform: translateX(0);

                        transition: transform .4s ease-out;

                        &:nth-child(1){
                            transition-delay: .1s;
                        }
                        &:nth-child(2){
                            transition-delay: .2s;
                        }
                        &:nth-child(3){
                            transition-delay: .3s;
                        }
                        &:nth-child(4){
                            transition-delay: .4s;
                        }
                        &:nth-child(5){
                            transition-delay: .5s;
                        }
                    }
                }
            }

            .list-container {

                // Desktop
                @include desktop {
                    @include flex-center;
                }
                
                ul {
                    // Desktop
                    @include desktop {
                        @include flex-center;
                    }

                    &:has(a:hover) {
                        a:not(:hover){
                            color: $navajo-dark;
                        }
                    }
                    li {
                        transform: translateX(-150px);

                        // Desktop
                        @include desktop {
                            transform: translateX(0);
                        }

                        a {
                            position: relative;
                            
                            @include flex-center;
                            justify-content: flex-start;

                            padding: 10px 20px;
    
                            color: $navajo-white;
                            background-color: $dark-blue;

                            transition: color .4s;
    
                            &:hover {
                                .span-icon {
                                    opacity: 1;
                                    pointer-events: initial;

                                    // Desktop
                                    @include desktop {
                                        margin-right: 0;
                                    }
                                }
                                .span-name {
                                    transform: translateX(30px);
                                    
                                    // Desktop
                                    @include desktop {
                                        transform: translate(0);
                                    }

                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                            
                            .span-icon {
                                position: absolute;
                                
                                opacity: 0;
                                pointer-events: none;
                                z-index: 9;

                                transition: opacity .2s;

                                // Desktop
                                @include desktop {
                                    position: initial;
                                    margin-right: -30px;

                                    transition: margin .2s, opacity .2s;
                                }

                                img {
                                    width: 26px;
                                    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(7491%) hue-rotate(312deg) brightness(93%) contrast(97%);
                                    transform: rotate(-45deg);
                                }
                            }
                            .span-name {
                                position: relative;
                                font-size: 1.1rem;
                                z-index: 10;

                                line-height: 30px;
                                transition: transform .4s;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;

                                    height: 2px;
                                    width: 0;

                                    background-color: $navajo-white;

                                    transition: width .4s;
                                }
                            }
                        }
                    }
                }
            }
                  
            .list-icon-container {
                background-color: $dark-blue;

                ul {
                    @include flex-center;
                    justify-content: flex-start;
                    gap: 10px;
                    flex-wrap: wrap;

                    padding-inline: 15px;

                    &:has(li:hover){
                        a:not(:hover){
                            color: $navajo-dark;
                        }
                    }
    
                    li {

                        a {
                            @include flex-center;

                            padding: 20px 10px;

                            font-size: 1.2rem;
                            color: $navajo-white;

                            transition: color .4s;

                            i {
                                position: relative;
                                transition: transform .2s;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: -5px;
                                    left: 50%;
                                    transform: translateX(-50%);

                                    height: 5px;
                                    width: 5px;

                                    border-radius: 50%;
                                    opacity: 0;

                                    background-color: $navajo-white;

                                    transition: opacity .2s;
                                }
                            }

                            &:hover {

                                i {
                                    transform: translateY(-5px);

                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}