* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
}

@media screen and (min-width: 950px) {
  header {
    background-color: #0C0B14;
  }
}
header .main-menu {
  position: relative;
}
@media screen and (min-width: 950px) {
  header .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  }
}
header .main-menu .logo-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding-inline: 20px;
  background-color: #0C0B14;
}
header .main-menu .logo-icon-container .logo-menu a {
  text-transform: uppercase;
  font-weight: 700;
  color: #EFE8D4;
}
header .main-menu .logo-icon-container .icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
@media screen and (min-width: 950px) {
  header .main-menu .logo-icon-container .icon-menu {
    display: none;
  }
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger {
  position: relative;
  height: 4px;
  width: 25px;
  background-color: #EFE8D4;
  transition: background-color 0.2s;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger.menu-hamburger-active {
  background-color: transparent;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger.menu-hamburger-active::after {
  transform: rotate(45deg);
  top: 0;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger.menu-hamburger-active::before {
  transform: rotate(-45deg);
  top: 0;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger::after, header .main-menu .logo-icon-container .icon-menu .menu-hamburger::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  background-color: #EFE8D4;
  transition: 0.4s;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger::after {
  top: -8px;
}
header .main-menu .logo-icon-container .icon-menu .menu-hamburger::before {
  bottom: -8px;
}
header .main-menu .menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 90px);
  transform: translateX(-100%);
  background-color: #0C0B14;
  transition: transform 0.4s;
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content {
    transform: translateX(0);
    flex-direction: row;
    gap: 40px;
    height: initial;
  }
}
header .main-menu .menu-content.menu-content-active {
  transform: translateX(0);
}
header .main-menu .menu-content.menu-content-active .list-container li {
  transform: translateX(0);
  transition: transform 0.4s ease-out;
}
header .main-menu .menu-content.menu-content-active .list-container li:nth-child(1) {
  transition-delay: 0.1s;
}
header .main-menu .menu-content.menu-content-active .list-container li:nth-child(2) {
  transition-delay: 0.2s;
}
header .main-menu .menu-content.menu-content-active .list-container li:nth-child(3) {
  transition-delay: 0.3s;
}
header .main-menu .menu-content.menu-content-active .list-container li:nth-child(4) {
  transition-delay: 0.4s;
}
header .main-menu .menu-content.menu-content-active .list-container li:nth-child(5) {
  transition-delay: 0.5s;
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .main-menu .menu-content .list-container ul:has(a:hover) a:not(:hover) {
  color: #888375;
}
header .main-menu .menu-content .list-container ul li {
  transform: translateX(-150px);
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container ul li {
    transform: translateX(0);
  }
}
header .main-menu .menu-content .list-container ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  color: #EFE8D4;
  background-color: #0C0B14;
  transition: color 0.4s;
}
header .main-menu .menu-content .list-container ul li a:hover .span-icon {
  opacity: 1;
  pointer-events: initial;
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container ul li a:hover .span-icon {
    margin-right: 0;
  }
}
header .main-menu .menu-content .list-container ul li a:hover .span-name {
  transform: translateX(30px);
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container ul li a:hover .span-name {
    transform: translate(0);
  }
}
header .main-menu .menu-content .list-container ul li a:hover .span-name::after {
  width: 100%;
}
header .main-menu .menu-content .list-container ul li a .span-icon {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 9;
  transition: opacity 0.2s;
}
@media screen and (min-width: 950px) {
  header .main-menu .menu-content .list-container ul li a .span-icon {
    position: initial;
    margin-right: -30px;
    transition: margin 0.2s, opacity 0.2s;
  }
}
header .main-menu .menu-content .list-container ul li a .span-icon img {
  width: 26px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(7491%) hue-rotate(312deg) brightness(93%) contrast(97%);
  transform: rotate(-45deg);
}
header .main-menu .menu-content .list-container ul li a .span-name {
  position: relative;
  font-size: 1.1rem;
  z-index: 10;
  line-height: 30px;
  transition: transform 0.4s;
}
header .main-menu .menu-content .list-container ul li a .span-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #EFE8D4;
  transition: width 0.4s;
}
header .main-menu .menu-content .list-icon-container {
  background-color: #0C0B14;
}
header .main-menu .menu-content .list-icon-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding-inline: 15px;
}
header .main-menu .menu-content .list-icon-container ul:has(li:hover) a:not(:hover) {
  color: #888375;
}
header .main-menu .menu-content .list-icon-container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  font-size: 1.2rem;
  color: #EFE8D4;
  transition: color 0.4s;
}
header .main-menu .menu-content .list-icon-container ul li a i {
  position: relative;
  transition: transform 0.2s;
}
header .main-menu .menu-content .list-icon-container ul li a i::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  opacity: 0;
  background-color: #EFE8D4;
  transition: opacity 0.2s;
}
header .main-menu .menu-content .list-icon-container ul li a:hover i {
  transform: translateY(-5px);
}
header .main-menu .menu-content .list-icon-container ul li a:hover i::after {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */